*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
play-service-account.json
*service-account*.json
*publisher*.json
*.jks
*.keystore
tools/pepk/pepk-src.jar
tools/pepk/pepk.jar
build/pepk-src/
build/pepk-classes/
build/pepk-javac.log
build/play-app-signing/
*.pepk
